@import "../../style/variables.scss";

body{
  background-color: $palevr;
 
  
  

  .contenedorprincipal{
   
   display: flex;
   
   justify-content: center;
   position: absolute;
   left: 30%;
   margin: 15px;
   top: 20%;
   
   

   

  }
}